# This file is part of Opal and has been released into the public domain.
# SPDX-License-Identifier: CC0-1.0
# SPDX-FileCopyrightText: 2020-2024 Mirian Margiani

.directory

build*
build-doc*

*.pro.user
*.creator.user
*.spec.*
*~
*.~*
*.qm
dist*
TODO*

Opal/*/Opal*Attribution.qml

opal-*.cflags
opal-*.creator
opal-*.cxxflags
opal-*.files
Makefile
